.mytest {
  width: 375px;
  height: 38.5px;
  background: url(./assets/sprite-assets/info.png) no-repeat 0 0;
  background-size: 40px 20px;
  
}
.mytest2 {
  width: 375px;
  height: 38px;
  background: url(./assets/sprite-assets/home.png) no-repeat 0 0;
  background-size: 40px 38px;
}